<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피플</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascript/base.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>
    <!-- Loading -->
    <div id="loading">
        <img src="/images/logo.svg">
        <span>로딩중 입니다...</span>
    </div>

    <!-- NAVBAR -->
    <nav>
        <ul>
            <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span id="nav_home_span">홈</span></li>
            <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span id="nav_search_span">검색</span></li>
            <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span id="nav_write_span">요청글 작성</span></li>
            <li><a href="/auth/login"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span id="nav_login_span">로그인</span></li>
            <li><a href="/auth/kakao/logout"><img id="nav_logout" src="/images/logout.svg" alt="로그아웃" /></a><span id="nav_logout_span">로그아웃</span></li>
            <li><a href="/auth/kakao?requestUrl=/board"><img id="nav_signup" src="/images/signup.svg" alt="회원가입" /></a><span id="nav_signup_span">회원가입</span></li>
            <li><a href="/auth/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span id="nav_mypage_span">마이페이지</span></li>
        </ul>
    </nav>

    <!-- LOGIN -->
    <form id="login_form" action="#" method="post">
        <a id="kakao-login-btn" href="/auth/kakao"></a><br/>
        <a href="http://developers.kakao.com/logout">로그아웃</a> <br/>
        <!-- <input type="text" placeholder="아이디"/>
        <input type="password" placeholder="패스워드"/>
        <button id="login_form_submit" type="submit">로그인</button> -->
        <span id="login_form_span">아직 회원이 아니신가요? <a href="/user/terms">회원가입</a></span>
    </form>
    

    
    <script>
        //<![CDATA[
        // JS KEY
        Kakao.init('0940ed5cf7d939a119e1b89033270cee');
        Kakao.Auth.createLoginButton({
            container: '#kakao-login-btn',
            success: function(authObj) {
                alert(JSON.stringify(authObj));
            },
            fail: function(err) {
                alert(JSON.stringify(err));
            }
        });
        //]]>
    </script>
</body>

</html>