<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피플</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascript/base.js"></script>
</head>

<body>
    <!-- Loading -->
    <div id="loading">
        <img src="/images/logo.svg">
        <span>로딩중 입니다...</span>
    </div>

    <!-- NAVBAR -->
    <nav>
        <ul>
            <li><a href="/"><img id="nav_landing" src="/images/landing.svg" alt="홈" /></a><span
                    id="nav_home_span">홈</span>
            </li>
            <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span id="nav_home_span">요청
                    리스트</span></li>
            <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span
                    id="nav_search_span">검색</span></li>
            <% if(user) { %>
            <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span
                    id="nav_write_span">요청</span></li>
            <% } %>
            <% if(!user) { %>
            <li><a href="/auth/kakao"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span
                    id="nav_login_span">로그인</span></li>
            <% } %>
            <% if(user) { %>
            <li><a href="/auth/logout"><img id="nav_logout" src="/images/logout.svg" alt="로그아웃" /></a><span
                    id="nav_logout_span">로그아웃</span></li>
            <% } %>
            <% if(!user) { %>
            <li><a href="/auth/terms"><img id="nav_signup" src="/images/signup.svg" alt="회원가입" /></a><span
                    id="nav_signup_span">회원가입</span></li>
            <% } %>
            <% if(user) { %>
            <li><a href="/user/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span
                    id="nav_mypage_span">마이페이지</span></li>
            <% } %>
        </ul>
    </nav>

    <!-- SIGNUP FORM -->
    <div class="container">
        <h2>회원가입</h2>
        <form id="signup_form" action="../register" method="POST">
            <div class="signup_input_container">
                <label for="signup_nickname">닉네임</label> : <input type="text" class="signup_input" name="nickname"
                    id="signup_nickname">
            </div>
            <div class="signup_input_container">
                <label for="signup_phone">전화번호</label> : <input type="text" class="signup_input" name="phone"
                    id="signup_phone">
                <span id="signup_phone_notice">전화번호가 010-XXXX-XXXX인 경우 010XXXXXXXX 로 작성해주세요</span>
            </div>
            <div class="signup_input_container">
                <label for="signup_blood">혈액형</label> :
                <select name="blood" class="signup_input" id="signup_blood">
                    <option value="RH+A">RH+ A형</option>
                    <option value="RH+B">RH+ B형</option>
                    <option value="RH+AB">RH+ AB형</option>
                    <option value="RH+O">RH+ O형</option>
                    <option value="RH-A">RH- A형</option>
                    <option value="RH-B">RH- B형</option>
                    <option value="RH-AB">RH- AB형</option>
                    <option value="RH-O">RH- O형</option>
                </select>
                <span id="signup_blood_notice">수혈받을 분의 혈액형을 입력해 주세요.</span>
                <input type='hidden' name='email' value="<%=email%>" />
                <button id="signup_submit_btn" type="submit">회원가입</button>
            </div>
        </form>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script>
        var nicknameInput = $('#signup_nickname');
        var phoneInput = $('#signup_phone');
        var signup = $('#signup_submit_btn');
        if (<%= status %>) {
            alert('회원 정보를 입력해야 회원가입 절차가 완료됩니다.');
        }

        signup.click(function (e) {
            let falg1 = false;
            let flag2 = false;
            e.preventDefault();
            if (nicknameInput.val() === "") {
                alert("닉네임을 입력해 주십시요.");
            } else {
                flag1 = true;
            }

            if (phoneInput.val() === "") {
                alert("전화번호를 입력해 주십시요.");
                flag1 = false;
            } else if (phoneInput.val().length >= 9 && phoneInput.val().length <= 11) {
                // 집전화번호 ~ 핸드폰 전화번호
                flag2 = true;
            } else {
                alert("전화번호를 정확하게 입력해 주십시오.");
                flag2 = false;
            }

            if (flag1 && flag2) {
                if (confirm("모든 정보를 정확하게 입력하셨습니까?")) {
                    $("#signup_form").submit();
                }
            }
        })


    </script>

</body>

</html>