<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피플</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" content="피플">
    <meta name="description" content="세상을 구하는 붉은 인연 피플입니다.">
    <meta name="keywords" content="헌혈,헌혈자모집,수혈,지정헌혈">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Korean">
    <meta name="author" content="피플">
    <script src="/javascript/base.js"></script>
</head>

<body>
    <!-- Loading -->
    <div id="loading">
        <img src="/images/logo.svg">
        <span>로딩중 입니다...</span>
    </div>

    <!-- NAVBAR -->
    <nav>
        <ul>
            <li><a href="/"><img id="nav_landing" src="/images/landing.svg" alt="홈" /></a><span
                    id="nav_home_span">홈</span>
            </li>
            <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span id="nav_home_span">요청
                    리스트</span></li>
            <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span
                    id="nav_search_span">검색</span></li>
            <% if(!user) { %>
            <li><a href="/auth/kakao"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span
                    id="nav_login_span">로그인</span></li>
            <% } %>
            <% if(user) { %>
            <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span
                    id="nav_write_span">요청</span></li>
            <% } %>
            <% if(user) { %>
            <li><a href="/user/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span
                    id="nav_mypage_span">마이페이지</span></li>
            <% } %>
        </ul>
    </nav>

    <!-- SIGNUP FORM -->
    <div class="container">
        <h2>회원가입</h2>
        <form id="signup_form" action="./register" method="POST">
            <div class="signup_input_container">
                <label for="signup_nickname">닉네임</label> : <input type="text" class="signup_input" name="nickname"
                    id="signup_nickname">
            </div>
            <div class="signup_input_container">
                <label for="signup_phone">전화번호</label> : <input type="text" class="signup_input" name="phone"
                    id="signup_phone">
                <span id="signup_phone_notice">전화번호가 010-XXXX-XXXX인 경우 010XXXXXXXX 로 작성해주세요</span>
            </div>
            <div class="signup_input_container">
                <label for="signup_email">이메일</label> : <input type="email" class="signup_input" name="email"
                    id="signup_email" value="<%=email%>">
                <span id="signup_email_notice">이메일은 반드시 입력해야 하며, 카카오 이메일 외에 다른 이메일 사용이 가능합니다.</span>
            </div>
            <div class="signup_input_container">
                <label for="signup_blood">수혈자 혈액형</label> :
                <select name="blood" class="signup_input" id="signup_blood">
                    <option value="none">지정하지 않음</option>
                    <option value="RH+A">RH+ A형</option>
                    <option value="RH+B">RH+ B형</option>
                    <option value="RH+AB">RH+ AB형</option>
                    <option value="RH+O">RH+ O형</option>
                    <option value="RH-A">RH- A형</option>
                    <option value="RH-B">RH- B형</option>
                    <option value="RH-AB">RH- AB형</option>
                    <option value="RH-O">RH- O형</option>
                </select>
                <span id="signup_blood_notice">수혈 하실 분의 혈액형은 후에 [마이페이지]에서 수정이 가능합니다.</span>
            </div>
            <div class="signup_input_container">
                <label for="signup_blood">본인 혈액형</label> :
                <select name="my_blood" class="signup_input" id="signup_blood">
                    <option value="RH+A">RH+ A형</option>
                    <option value="RH+B">RH+ B형</option>
                    <option value="RH+AB">RH+ AB형</option>
                    <option value="RH+O">RH+ O형</option>
                    <option value="RH-A">RH- A형</option>
                    <option value="RH-B">RH- B형</option>
                    <option value="RH-AB">RH- AB형</option>
                    <option value="RH-O">RH- O형</option>
                </select>
                <span id="signup_blood_notice">본인의 혈액형은 반드시 입력해야 합니다.</span>
            </div>
            <button id="signup_submit_btn" type="submit">회원가입</button>
        </form>
    </div>
    <div class="container">
        <footer>
            <ul>
                <li><a href="mailto: contact_people@naver.com">이메일 문의</a></li>
                <li><a href="https://www.notion.so/people1/Pple-link-f316e082adcd4a3abb6bc08fb95863d1">피플 소개 페이지</a>
                </li>
                <li><a href="https://pf.kakao.com/_EFavT">플러스친구</a></li>
            </ul>
            <span>Copyright (c) 2019 피플</span>
            <span>대표명 : 김범준</span>
            <span>contact_people@naver.com</span>
            <span>후원 계좌: 국민은행 466401-01-366890 (예금주 : 김범준)</span>
        </footer>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script>
        var nicknameInput = $('#signup_nickname');
        var phoneInput = $('#signup_phone');
        var emailInput = $('#signup_email');
        var signup = $('#signup_submit_btn');

        signup.click(function (e) {
            let falg1 = false;
            let flag2 = false;
            let flag3 = false;
            e.preventDefault();
            if (nicknameInput.val() === "") {
                alert("닉네임을 입력해 주십시요.");
            } else {
                flag1 = true;
            }

            if (emailInput.val() === "") {
                alert("이메일을 입력해 주십시요.");
            }
            else {
                flag3 = true;
            }

            if (phoneInput.val() === "") {
                alert("전화번호를 입력해 주십시요.");
                flag1 = false;
            } else if (phoneInput.val().length >= 9 && phoneInput.val().length <= 11) {
                // 집전화번호 ~ 핸드폰 전화번호
                flag2 = true;
            } else {
                alert("전화번호를 정확하게 입력해 주십시오.");
                flag2 = false;
            }



            if (flag1 && flag2 && flag3) {
                if (confirm("모든 정보를 정확하게 입력하셨습니까?")) {
                    $("#signup_form").submit();
                }
            }
        })


    </script>

</body>

</html>