<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>피플</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css?ver=1.0" />
  <link rel="stylesheet" href="/aos/aos.css" />
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="title" content="피플">
  <meta name="description" content="세상을 구하는 붉은 인연, 전국민 헌혈 참여 플랫폼 피플입니다">
  <meta name="keywords" content="헌혈,헌혈자모집,수혈,지정헌혈">
  <meta name="robots" content="index, nofollow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="Korean">
  <meta name="author" content="피플">
  <script src="/javascript/base.js"></script>
</head>

<body>
  <!-- Loading -->
  <div id="loading">
    <img src="/images/logo.svg">
    <span>로딩중 입니다...</span>
  </div>

  <!-- NAVBAR -->
  <nav>
    <ul>
      <li><a href="/"><img id="nav_landing" src="/images/landing.svg" alt="홈" /></a><span id="nav_home_span">홈</span>
      </li>
      <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span
          id="nav_search_span">검색</span></li>
      <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span id="nav_home_span">요청
          리스트</span></li>
      <% if(!user) { %>
      <li><a href="/auth/kakao"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span
          id="nav_login_span">로그인</span></li>
      <% } %>
      <% if(user) { %>
      <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span
          id="nav_write_span">요청</span></li>
      <% } %>
      <% if(user) { %>
      <li><a href="/user/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span
          id="nav_mypage_span">마이페이지</span></li>
      <% } %>
    </ul>
  </nav>

  <!-- Header -->
  <div data-aos="fade-left" class="container header">
    <div class="wrapper">
      <div id="logo_wrap">
        <img id="logo" src="/images/logo.svg" alt="로고" />
      </div>
      <div id="header_wrap">
        <h1>P'ple</h1>
        <span>세상을 구하는 붉은 인연 피플</span>
      </div>
    </div>
  </div>

  <!-- Introduce -->
  <div id="landing_intro" class="container" data-aos="fade-left">
    <h2>피플은 어떤 서비스 인가요?</h2>
    <!-- 영상 -->
    <iframe class="youtube" src="https://www.youtube.com/embed/vTnAIk-xrGQ" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>&nbsp;&nbsp;여러분, 혹시 '정말 피가 필요한 위급한 순간' 을 경험해 보신적이 있으신가요? 누군가 에겐 경험해보지 못한 먼 이야기 입니다. <strong>하지만 지금 이순간, 누군가에겐 예고
        없이 찾아온 현실입니다.</strong> 팀 '피플'은 이런 가슴 아픈 사례들을 방관할 수 없었습니다.</p>

    <p>&nbsp;&nbsp;그래서 현재와 미래의 누군가를 위한 행동을 결심했습니다. 여러분의 헌혈 한번이 누군가의 위급한 시기와 맞아 떨어질 때, 생명을 수호할 엄청난 가치를 가진다는 것을 '피플'은 알리고
      싶습니다.</p>

    <p>&nbsp;&nbsp;세상을 구하는 여러분과의 붉은 인연을 이어나가는 것이 저희의 희망입니다.</p>
    <span style="text-align: center; color: #e23434; margin-top: 10px;">저희는 전국민 헌혈 참여 플랫폼. 피플입니다.</span>
  </div>

  <div class="slide">
    <% for(let i = 1; i <= 8; i++) {%>
    <img src="/images/landing_slide/<%=i%>.png" data-aos="zoom-in">
    <% } %>
  </div>


  <div class="container">
    <footer>
      <ul>
        <li><a href="mailto: contact_people@naver.com">이메일 문의</a></li>
        <li><a href="https://www.notion.so/people1/Pple-link-f316e082adcd4a3abb6bc08fb95863d1">피플 소개 페이지</a></li>
        <li><a href="https://pf.kakao.com/_EFavT">플러스친구</a></li>
      </ul>
      <span>Copyright (c) 2019 피플</span>
      <span>대표명 : 김범준</span>
      <span>contact_people@naver.com</span>
      <span>후원 계좌: 국민은행 466401-01-366890 (예금주 : 김범준)</span>
    </footer>
  </div>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/aos/aos.js"></script>
  <script>
    $(document).ready(function () {
      AOS.init();
    });
  </script>
</body>

</html>