<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>피플</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css?ver=1.0" />
  <link rel="stylesheet" href="/aos/aos.css" />
  <script src="/javascript/base.js"></script>
</head>

<body>
  <!-- Loading -->
  <div id="loading">
    <img src="/images/logo.svg">
    <span>로딩중 입니다...</span>
  </div>

  <!-- NAVBAR -->
  <nav>
    <ul>
      <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span id="nav_home_span">요청
          리스트</span></li>
      <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span
          id="nav_search_span">검색</span></li>
      <% if(is_logedin) { %>
      <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span
          id="nav_write_span">요청</span></li>
      <% } %>
      <% if(!is_logedin) { %>
      <li><a href="/auth/kakao"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span
          id="nav_login_span">로그인</span></li>
      <% } %>
      <% if(is_logedin) { %>
      <li><a href="/auth/logout"><img id="nav_logout" src="/images/logout.svg" alt="로그아웃" /></a><span
          id="nav_logout_span">로그아웃</span></li>
      <% } %>
      <% if(!is_logedin) { %>
      <li><a href="/auth/terms"><img id="nav_signup" src="/images/signup.svg" alt="회원가입" /></a><span
          id="nav_signup_span">회원가입</span></li>
      <% } %>
      <% if(is_logedin) { %>
      <li><a href="/user/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span
          id="nav_mypage_span">마이페이지</span></li>
      <% } %>
    </ul>
  </nav>

  <!-- Header -->
  <div data-aos="fade-left" class="container header">
    <div class="wrapper">
      <div id="logo_wrap">
        <img id="logo" src="/images/logo.svg" alt="로고" />
      </div>
      <div id="header_wrap">
        <h1>P'ple</h1>
        <span>세상을 구하는 붉은 인연 피플</span>
      </div>
    </div>
  </div>

  <!-- Introduce -->
  <div id="landing_intro" class="container" data-aos="fade-left">
    <h2>피플은 어떤 서비스 인가요?</h2>
    <p>&nbsp;&nbsp;여러분, 혹시 '정말 피가 필요한 위급한 순간' 을 경험해 보신적이 있으신가요?<br />
      누군가 에겐 경험해보지 못한 먼 이야기 입니다.<br />
      하지만 지금 이순간, 누군가 에겐 예고 없이 찾아온 현실입니다.<br />
      팀 ‘피플 ’은 지속되는 가슴 아픈 사례들을 방관할 수 없었습니다.<br />
      그래서 현재와 미래의 누군가를 위한 행동을 결심했습니다.<br />
      여러분의 헌혈 한번이 누군가의 위급한 시기와 맞아 떨어질 때<br />
      생명을 수호할 엄청난 가치를 가진다는 것을 ‘피플 ’은 알리고 싶습니다.<br />
      세상을 구하는 여러분과의 붉은 인연을 이어나가는 것이 저희의 희망입니다.<br />
      저희는 전국민 헌혈 참여 플랫폼. 피플입니다.</p>
  </div>

  <div class="slide">
    <% for(let i = 1; i <= 8; i++) {%>
    <img src="/images/landing_slide/<%=i%>.png" data-aos="zoom-in">
    <% } %>
  </div>


  <div class="container">
    <footer>
      <span style="font-size:10px;">Copyright (c) 2019 피플</span>
    </footer>
  </div>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/aos/aos.js"></script>
  <script>
    $(document).ready(function () {
      AOS.init();
    });
  </script>
</body>

</html>