* {
  /* border:1px solid black; */
}

html {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* Tag */
h1 {
  font-size: 2.3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 0.95rem;
}


.container {
  border-radius: 4rem;
  box-shadow: 5px 5px 5px #f0f0f0;
  padding: 5vw;
}

.container h1, .container h2{
  text-align: center;
}

.container p{
  text-align: left;
}

#loading {
  background-color: white;
  position: fixed;
  display: table-cell;
  text-align: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loading img {
  width: 30vw;
  height: 30vw;
  border-radius: 15vw;
  margin-top: calc(50vh - 15vw);
  animation-name: pulse, roll;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

#loading span {
  display: block;
  margin-top: 20px;
}

.header {
  /*  */
}

.wrapper {
  display: table;
  height: auto;
  /* float 인식 */
  overflow: hidden;
}

img#logo {
  width: 100%;
}

#logo_wrap {
  display: table-cell;
  vertical-align: middle;
  width: 30vw;
}

#header_wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 70vw;
  color: #E23434;
}

#header_wrap>h1 {
  margin: 0 0;
}

#header_wrap>span {
  font-size: 0.95rem;
}


/* Animation */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #E23434;
  }

  70% {
    box-shadow: 0 0 0 20px #E23434;
  }

  100% {
    box-shadow: 0 0 0 0 #E23434;
  }
}

@keyframes roll{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}