/* 
  아이콘 정보 : http://www.alessioatzeni.com/metrize-icons/

*/

* {
  /* border:1px solid black; */
}

html {
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: #f9f9f9;
  overflow-x: hidden !important;
  padding-left: calc(50vw - 350px);
  padding-right: calc(50vw - 350px);
}

/* Tag */
h1 {
  font-size: 2.1rem;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 0.95rem;
}

body {
  /* NAV 영역 공백 */
  padding-bottom: 10vw;
  margin-left: 0;
  margin-right: 0;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

/* CONTAINER */
.container {
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px #f0f0f0;
  padding: 2.5vw;
  margin: 15px;
}

.container h1,
.container h2 {
  text-align: center;
}

.container p {
  text-align: left;
}

.list_container {
  border-radius: 2rem;
  box-shadow: 5px 5px 5px #f0f0f0;
  margin: 20px;
  background-color: white;
}

.list_container .highlight_wrapper {
  display: table-cell;
  border-radius: 2rem;
  padding: 5vw;
  /* 배경 사진의 경우에는 인라인으로 조정(후에 서버 스크립트 작성 고려) */
  width: 80px;
  height: 80px;
  margin: 0;
}

.list_container .content_wrapper {
  display: table-cell;
  vertical-align: middle;
  padding-left: 3vw;
  /*width:calc(100vw - 175px);*/
}

.list_container .content_wrapper h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1rem;
  letter-spacing: -0.06em;
}

.list_container .content_wrapper span {
  font-size: 0.9rem;
}

.list_location_selection {
  /* display: flex;   */
}

.list_location_selection > ul {
  list-style-type: none;
  padding-left: 0;
}

.list_location_selection li {
  display: block;
  padding: 10px 1px;
  border: 1px solid #8c8c8c;
  background-color: white;
  text-align: center;
  display: none;
}

#location_toggle {
  display: block;
}

.list_location_selection li > a {
  display: block;

  width: 100%;
}

.menu_container {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 97;
  display: none;
}

.menu_container > ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  width: 200px;
  font-size: 1.2rem;
  position: fixed;
  top: 25%;
  left: calc(50% - 100px);
}

.menu_container > ul > li {
  text-align: center;
  background-color: #efefef;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.menu_container > ul > li:nth-child(2n-1) {
  background-color: #e0e0e0;
}

.menu_container > ul > li:hover {
  background-color: beige;
}

.menu_container > ul > li:last-child {
  background-color: black;
  color: white;
}

.search_container {
  text-align: center;
}

#loading {
  background-color: white;
  position: fixed;
  display: table-cell;
  text-align: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 99;
}

#loading img {
  width: 20vw;
  height: 20vw;

  /* DESKTOP Constraints */
  max-width: 150px;
  max-height: 150px;

  border-radius: 15vw;
  margin-top: calc(50vh - 15vw);
  animation-name: pulse, roll;
  animation-duration: 0.8s;
  animation-iteration-count: 5;
}

#loading span {
  display: block;
  margin-top: 20px;
}

.header-2 {
  padding: 0;
}

.wrapper {
  display: table;
  height: auto;
  /* float 인식 */
  overflow: hidden;
}

.form_wrapper {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}

img#logo {
  width: 100%;
}

img#profile_pic {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

#logo_wrap {
  display: table-cell;
  vertical-align: middle;
  width: 20vw;

  /* DESKTOP CONSTRAINTS */
  max-width: 100px;
  max-height: 100px;
}

#header_wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 70vw;
  color: #e23434;
}

#header_wrap h1 {
  margin: 0 0;
  font-size: 2rem;
}

#header_wrap span {
  font-size: 0.95rem;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: table;
  width: 100%;

  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  box-shadow: 5px 5px 5px 5px #f0f0f0;

  background-color: #ffffff;
}

nav span {
  font-size: 0.7rem;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

nav ul li {
  width: 25vw;
  height: 2.3vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

nav ul li a {
  display: block;
  color: black;
  max-height: 100px;
  text-decoration: none;
}

#nav_home,
#nav_search,
#nav_write,
#nav_login,
#nav_signup,
#nav_mypage,
#nav_logout {
  width: 8vw;
  max-width: 25px;
}

.read_content_wrapper {
}

#read_top {
  text-align: right;
}

#read_like_button > button {
  width: 80%;
  margin: 10px 10%;
  font-size: 1rem;
}

#read_like_button > button:hover {
  background-color: #e23434;
}

#read_comment {
  background-color: #f0f0f0;
  padding: 5px 5px;
}

#read_comment_label {
  font-size: 0.8rem;
}

.read_comment_user,
.read_comment_content {
  font-size: 0.8rem;
}

.read_comment_user {
  display: inline-block;
  width: 15%;
  vertical-align: top;
}

.read_comment_content {
  /* display: inline-block; */
  flex-basis: 70%;
  word-break: break-all;
  margin: 0;
  white-space: pre-wrap;
  font-weight: lighter;
  vertical-align: top;
}

#read_user_info {
  font-size: 0.8rem;
  text-align: center;
}

#read_title {
  margin-top: 5px;
  margin-bottom: 5px;
}

#read_content_image {
  width: 100%;
  height: 30vh;
}

#read_content_text {
  white-space: pre-wrap;
}

.read_comment_wrapper {
  display: flex;
  justify-content: center;
  padding: 5px 2px 2px 2px;
}

.read_comment_wrapper > * {
  align-self: center;
}

.read_comment_setting {
  width: 50px;
}

.read_comment_setting > form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.read_comment_setting > form button {
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 0.8rem;
}

.read_comment_write {
  display: block;
}

#read_comment_form {
  display: inline-block;
  width: 80% !important;
  border-radius: 5px;
  padding: 8px;
}

#read_comment_submit {
  display: inline-block;
  width: 15% !important;
  font-size: 0.75rem;
  padding: 5px;
}

table.read_info_table {
  width: 100%;
  border: none;
  font-size: 0.8rem;
}

.read_info_table th {
  width: 30%;
}

.read_info_table th,
.read_info_table td {
  border-bottom: 1px dotted #c2c2c2;
}

.read_pls_login{
  display: block;
  font-size: 0.8rem;
  background-color: #f76363;
  color: white;
  text-align: center;
  padding: 10px 10px;
  margin: 10px auto;
}

/* MYPAGE */
#mypage_info {
  display: flex;
  flex-direction: column;
}

#mypage_nickname,
#mypage_blood,
#mypage_pic_notice{
  display: block;
}

#mypage_pic_notice{
  font-size: 0.58rem;
  font-style: italic;
}


#mypage_row_wrapper {
  display: flex;
  flex-direction: row;
}
#profile_wrap {
  flex-grow: 1;
  text-align: center;
  border-right: 1px solid black;
}

#mypage_info_wrap {
  flex-grow: 2;
  width: 50%;
  text-align: center;
}

#mypage_info_wrap > table {
  width: 100%;
  border: none;
  font-size: 0.8rem;
}

#mypage_info_wrap > table th,
#mypage_info_wrap > table td {
  border-bottom: 1px dotted #c2c2c2;
}

#mypage_info_wrap button,
.mypage_request_list button {
  background-color: #f76363;
  border: none;
  padding: 1vw;
  border-radius: 10px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 5px;
  font-size: 1rem;
}

.mypage_request_list a {
  background-color: #f76363;
  color: white;
  padding: 1px 10px;
}

.mypage_request_list {
  text-align: center;
}

.mypage_request_list > table {
  width: 100%;
  text-align: left;
  font-size: 0.85rem;
}

.mypage_request_list > table th,
.mypage_request_list > table td {
  border-bottom: 1px solid #c1c1c1;
}

.mypage_request_list > table th {
  width: 35%;
}

.mypage_request_list form{
  display: inline-block;
}

#mypage_donation{
  text-align: center;
  padding: 10px;
  font-size: 0.7rem;
  background-color: rgba(60,60,60,0.5);
  border-bottom-right-radius: 30px;
  color: white;
  width: 60%;
  margin: 0 auto;
  box-shadow: 10px 10px 10px gray;
}

#mypage_donation p {
  font-size: 0.8rem;
}

#mypage_donation p > em{
  font-size: 1rem;
}

#mypage_donation span{
  font-size: 1rem;
}

#mypage_donation  button.copy{
  display: block;
  width: 40%;
  margin: 0 auto;
  background-color: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.participants_del_direction{
  font-size: 0.7rem;
  color: #8c8c8c;
  display: block;
  margin: 3px auto;
}

/* INPUT */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: 90%;
  border-radius: 10vw;
  border: none;
  box-shadow: 2px 2px 2px 2px #f0f0f0;
  padding: 2vw;
}

#signup_form {
  background-color: #e0e0e0;
  border-radius: 5vw;
  padding: 5px;
}

#signup_form label {
  width: 20% !important;
  display: inline-block;
  font-size: 0.75rem;
  vertical-align: middle;
}

.signup_input {
  width: 50% !important;
  display: inline-block;
  border-radius: 5px !important;
  padding: 5px !important;
}

.signup_input_container {
  display: block;
  text-align: center;
}

.signup_input_container > label {
  margin-right: 10px !important;
}

.signup_input_container > button {
  background-color: #f76363;
  border: none;
  padding: 1vw;
  border-radius: 10px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 5px;
  font-size: 1rem;
}

span#signup_phone_notice,
span#signup_blood_notice {
  font-size: 0.55rem;
  display: block;
}

select {
  width: 94%;
}

select#signup_blood {
  margin: 0 5px;
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url("/images/down-arrow.svg") no-repeat 95% 50%;
}

textarea#write_content {
  height: 50vh;
  padding: 15px;
  border-radius: 5px;
}

#write_info {
  display: block;
  font-size: 0.7rem;
}

form > button {
  background-color: #f76363;
  border: none;
  padding: 1vw;
  border-radius: 10px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 5px;
  font-size: 1rem;
}

select#search_locations,
select#locations {
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url("/images/down-arrow.svg") no-repeat 95% 50%;
}

button#search_bar_icon {
  display: block;
  width: 20%;
  margin: 10px auto;
  background-color: #efefef;
}

button#search_bar_icon > img {
  width: 5vw;
}

#login_form {
  margin-top: 20vh;
  text-align: center;
}

#login_form button[type="submit"] {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 0.8rem;
}

#login_form_span {
  font-size: 0.7rem;
}

#login_form_span > a {
  color: #f76363;
}

/* TERMS */
#terms_text {
  height: 50vh;
  white-space: pre-wrap;
  overflow: scroll;
  border-radius: 1vw;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
  margin: 5vw;
  font-size: 0.8rem;
  padding: 5px;
}

#terms_form {
  text-align: center;
}

/* Animation */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #e23434;
  }

  70% {
    box-shadow: 0 0 0 20px #e23434;
  }

  100% {
    box-shadow: 0 0 0 0 #e23434;
  }
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* list */

#list_header_location {
  width: 100%;
  text-align: center;
}

#list_header_pleaseLogin {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  color: red;
  padding: 10px;
  border: 1px solid red;
  background-color: rgba(255, 255, 255, 0.4);

  margin: 0 auto;
}

#list_no_result {
  display: block;
  text-align: center;
}

#list_no_result_img {
  width: 150px;
  display: block;
  margin: 10vh auto;
}

span#highlight_location,
span#highlight_blood {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
}

/* write */

.basic_input {
  border-radius: 5px !important;
}
