<!DOCTYPE html>
<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>피플</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css" />


        <script src="//cdn.ckeditor.com/4.12.1/basic/ckeditor.js"></script>
</head>


<body>

        <!-- NAVBAR -->
        <nav>
                <ul>
                        <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span
                                        id="nav_home_span">요청
                                        리스트</span></li>
                        <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span
                                        id="nav_search_span">검색</span></li>
                        <% if(user) { %>
                        <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span
                                        id="nav_write_span">요청</span></li>
                        <% } %>
                        <% if(!user) { %>
                        <li><a href="/auth/kakao"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span
                                        id="nav_login_span">로그인</span></li>
                        <% } %>
                        <% if(user) { %>
                        <li><a href="/auth/logout"><img id="nav_logout" src="/images/logout.svg" alt="로그아웃" /></a><span
                                        id="nav_logout_span">로그아웃</span></li>
                        <% } %>
                        <% if(!user) { %>
                        <li><a href="/auth/terms"><img id="nav_signup" src="/images/signup.svg" alt="회원가입" /></a><span
                                        id="nav_signup_span">회원가입</span></li>
                        <% } %>
                        <% if(user) { %>
                        <li><a href="/user/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span
                                        id="nav_mypage_span">마이페이지</span></li>
                        <% } %>
                </ul>
        </nav>

        <!-- Loading -->
        <div id="loading">
                <img src="/images/logo.svg">
                <span>로딩중 입니다...</span>
        </div>

        <aside id="write_direction">
                <h3>이렇게 작성해주세요!</h3>
                <em class="direction_emp">많은 사람들의 참여를 유도하기 위해 구체적이고 자세한 사연 부탁드립니다.</em>
                <blockquote>안녕하세요<br />
                        저희 ○○○를 도와주세요. 누구보다 자식을 위해 열심히 밤낮없이 사셨던 분입니다.<br />
                        위중한 상태이며, 여러분의 도움이 꼭 필요합니다.<br />
                        현재 급성백혈병으로 인해 항암치료중에 있습니다. <br />
                        투병중인 저희 ○○○께서 혈소판 수치가 떨어지지 않도록 지정헌혈 부탁드립니다.<br />
                        서울00병원 00병동 0호실 / RH +/- 0형 / 000환자 앞으로 혈소판 지정헌혈부탁드립니다.<br />도움의 손길 꼭 부탁드립니다.</blockquote>
                <em class="direction_emp">병원, 혈액형, 등의 기본적이고 중요한 사항들을<br />정확성을 위해 다시한번 기재해 주시길 바랍니다.</em>
        </aside>

        <div class="form_wrapper">
                <form action="/board/upload" method="post" id="write_form">
                        <input class="basic_input" type="text" placeholder="제목" name="title" id="write_title">
                        <select name="locations" id="locations">
                                <option>지역을 선택해 주십시오.</option>
                                <option value="1">서울특별시</option>
                                <option value="2">부산광역시</option>
                                <option value="3">대구광역시</option>
                                <option value="4">인천광역시</option>
                                <option value="5">대전광역시</option>
                                <option value="6">광주광역시</option>
                                <option value="7">울산광역시</option>
                                <option value="8">세종특별자치시</option>
                                <option value="9">강원도</option>
                                <option value="10">경기도</option>
                                <option value="11">충청남도</option>
                                <option value="12">충청북도</option>
                                <option value="13">전라북도</option>
                                <option value="14">전라남도</option>
                                <option value="15">경상북도</option>
                                <option value="16">경상남도</option>
                                <option value="17">제주특별자치도</option>
                        </select>

                        <input class="basic_input" type="text" placeholder="지정헌혈 대상 병원이름" name="hospital"
                                id="write_hospital">

                        <textarea id="write_content" name="contents" placeholder="게시글작성"></textarea>
                        <hidden id="content"></hidden>
                        <br />
                        <span id="write_info">모든 게시글은 승인후에 게시됩니다.</span>
                        <button onclick="submit_check(CKEDITOR)" id="write_request_btn">게시요청</button>
                        <button onclick="write_cancel()">작성취소</button>
                </form>
        </div>

        <!-- NAVBAR -->
        <nav>
                <ul>
                        <li><a href="/board"><img id="nav_home" src="/images/home.svg" alt="홈" /></a><span
                                        id="nav_home_span">요청
                                        리스트</span></li>
                        <li><a href="/board/search"><img id="nav_search" src="/images/search.svg" alt="검색" /></a><span
                                        id="nav_search_span">검색</span></li>
                        <% if(user) { %>
                        <li><a href="/board/write"><img id="nav_write" src="/images/write.svg" alt="글 작성" /></a><span
                                        id="nav_write_span">요청</span></li>
                        <% } %>
                        <% if(!user) { %>
                        <li><a href="/auth/kakao"><img id="nav_login" src="/images/login.svg" alt="로그인" /></a><span
                                        id="nav_login_span">로그인</span></li>
                        <% } %>
                        <% if(user) { %>
                        <li><a href="/auth/logout"><img id="nav_logout" src="/images/logout.svg" alt="로그아웃" /></a><span
                                        id="nav_logout_span">로그아웃</span></li>
                        <% } %>
                        <% if(!user) { %>
                        <li><a href="/auth/kakao?requestUrl=/board"><img id="nav_signup" src="/images/signup.svg"
                                                alt="회원가입" /></a><span id="nav_signup_span">회원가입</span></li>
                        <% } %>
                        <% if(user) { %>
                        <li><a href="/user/mypage"><img id="nav_mypage" src="/images/mypage.svg" alt="마이페이지" /></a><span
                                        id="nav_mypage_span">마이페이지</span></li>
                        <% } %>
                </ul>
        </nav>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/javascript/base.js"></script>
        <script>
                CKEDITOR.replace("write_content");
        </script>
</body>

</html>